<!-- Page Header Start -->
<div class="container page-header d-fex justify-content-center">
  <h3 class="text-center">Contactez nous 🤗 !</h3>
</div>
<!-- Page Header End -->
<!-- Contact Start -->
<div class="container card py-5 m-auto wow fadeInUp" data-wow-delay="0.1s">
  <div class="row d-flex align-items-center">
    <div class="wrapper col-lg-6 col-sm-12 wow fadeIn" data-wow-delay="0.5s">
      <header>Send us a Message</header>
      <form action="https://formsubmit.co/mkouaelvis@gmail.com " method="POST">
        <div class="dbl-field">
          <div class="field">
            <input type="text" name="name" placeholder="Entrez votre nom" />
            <i class="fas fa-user"></i>
          </div>
          <div class="field">
            <input
              type="text"
              name="prenom"
              placeholder="Entrez votre prénom"
            />
            <i class=""></i>
          </div>
        </div>
        <div class="dbl-field">
          <div class="field">
            <input type="text" name="phone" placeholder="Entrez notre numéro" />
            <i class="fas fa-phone-alt"></i>
          </div>
          <div class="field">
            <input type="text" name="email" placeholder="Entrez votre email" />
            <i class="fas fa-envelope"></i>
          </div>
        </div>
        <div class="dbl-field">
          <div class="field">
            <div class="col-6 w-100">
              <div class="form-floating">
                <select class="form-control" name="fonction" id="fonction">
                  <option value="aucun">---</option>
                  <option value="Entrepreneur">Entrepreneur</option>
                  <option value=" Fonction">Fonctionnaire</option>
                  <option value="Cadre">Cadre</option>
                </select>
                <label for="email">Fonction *</label>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="col-6 w-100">
              <div class="form-floating">
                <select
                  class="form-control"
                  name="comment aviez entendu parler de nous"
                  id="comment"
                >
                  <option value="aucun">---</option>
                  <option value="Seminaire">seminaire</option>
                  <option value="Facebook">Facebook</option>
                  <option value=" Linkedin">Linkdedin</option>
                  <option value="Instagram">Instagram</option>
                  <option value="twitter">Twitter</option>
                  <option value="sms">SMS</option>
                  <option value="autres">Autres</option>
                </select>
                <label for="comment"
                  >Comment aviez entendu parler de nous?</label
                >
              </div>
            </div>
          </div>
        </div>
        <div class="message">
          <textarea
            placeholder="Ecrivez votre message ici"
            name="message"
          ></textarea>
          <i class="material-icons"></i>
        </div>
        <div class="button-area">
          <button
            type="submit"
            data-toggle="modal"
            data-target="#exampleModalCenter"
          >
            Envoyez-nous un message
          </button>
          <span></span>
        </div>
      </form>
    </div>

    <div class="col-lg-6 wow fadeIn h-100" data-wow-delay="0.5s">
      <div class="position-relative rounded overflow-hidden">
        <iframe
          src="https://www.google.com/maps/d/u/0/embed?mid=1Pp6KYtG23PZT_T7o4Dha9GuFHGUSYDE&ehbc=2E312F"
          width="100%"
          height="570"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
