<div class="container page-header text-lg-center w-100">
  <h3 class="display-4 text-white">Conseil & Accompagnement</h3>
</div>
<div class="container mt-4 bg">
  <div class="row w-100 ms-auto pt-3 pb-3">
    <div class="col-5">
      <img
        class="image-service"
        src="assets/img/bg/conseil.jpg"
        alt=""
        srcset=""
        height="300"
        width="450"
      />
    </div>
    <div class="col-6">
      <h6 class="texte">
        Nos thématiques de conseils couvrent tous les métiers pouvant ainsi
        aller de votre réflexion stratégique jusqu’au financement en passant par
        la sécurisation juridique et fiscal de votre business.
      </h6>
      <div class="container">
        <div class="maker d-flex mb-2">
          <span class="material-symbols-outlined mx-4 fw-bold">
            star_half
          </span>
          <p>Etudes (de marché, veille concurrentielle, Enquête mystères, …)</p>
        </div>
        <div class="maker d-flex mb-2">
          <span class="material-symbols-outlined mx-4 fw-bold"> check </span>
          <p>Diagnostic, Stratégie et Finance</p>
        </div>
        <div class="maker d-flex mb-2">
          <span class="material-symbols-outlined mx-4 fw-bold">
            star_half
          </span>
          <p>Accompagnement dans l’élaboration de business plan</p>
        </div>
        <div class="maker d-flex mb-2">
          <span class="material-symbols-outlined mx-4 fw-bold">
            radio_button_unchecked</span
          >
          <p>Transformation organisationnel et développement commercial</p>
        </div>
        <div class="maker d-flex mb-2">
          <span class="material-symbols-outlined mx-4 fw-bold"> check </span>
          <p>
            Politique pays (d’insertion des jeunes, de développement des
            start-Up/PME, de promotion des investissements…)
          </p>
        </div>
        <div class="maker d-flex mb-2">
          <span class="material-symbols-outlined mx-4 fw-bold">
            radio_button_unchecked</span
          >
          <p>Parcours de sélection de start-Up/PME</p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-fex justify-content-center bouton">
    <a class="btn btn-primary" routerLink="contact"> Passez a une demande ! </a>
  </div>
</div>
