<div class="container page-header d-fex justify-content-center">
  <h3 class="text-center">Rechercher un financement</h3>
</div>
<div class="container mt-4 bg wow fadeInUp" data-wow-delay="0.1s">
  <div class="card">
    <div class="row">
      <div class="col-md-4 img-card">
        <img
          class="img-fluid"
          src="assets/img/bg/finance.jpg"
          alt=""
          srcset=""
        />
      </div>
      <div class="col-md-8">
        <div class="w-100">
          <div class="maker d-flex mb-2">
            <span class="material-symbols-outlined mx-4 fw-bold"> check </span>
            <p>
              Nous vous accompagnons dans vos choix d’investissement et vous
              accompagnons dans la demande de financement.
            </p>
          </div>
          <div class="maker d-flex mb-2">
            <span class="material-symbols-outlined mx-4 fw-bold"> check </span>
            <p>
              Nous offrons également la possibilité de prendre des mandats pour
              vous obtenir des financements auprès de nos partenaires
              financiers, Banques, Fonds d’investissements.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-fex justify-content-center bouton mt-4">
    <a class="btn btn-primary" routerLink="/contact">
      Passez a une demande !
    </a>
  </div>
</div>
