<div class="container page-header text-lg-center w-100">
  <h3 class="display-4 text-white">Qui sommes nous?</h3>
</div>
<div class="container">
  <div class="row g-4 justify-content-center w-100">
    <div class="col-lg-12 bg-white text-center h-25 p-1 p-xl-5 d-flex">
      <img
        class="col-4"
        src="../../../assets/img/bg/bureau.jpg"
        alt=""
        srcset=""
        height="430px"
        width="550px"
      />
      <p class="text-dark texte col-8 mx-md-3">
        <span class="text-Africa">AFRICA INTEGRATION PARTNER</span>, est un
        cabinet global spécialisé dans l’accompagnement des politiques
        africaines sur les thématiques d’accompagnement des PME, de la
        transformation du secteur informel et d’insertion des jeunes. <br />
        Nous intervenons en amont à travers des conseils aux états pour la
        rédaction et l’implémentation de politiques appropriées, les bailleurs
        de fonds ou les entreprises dans leur politique RSE dans la conception
        de leur projets ou programmes ou encore en étant force de proposition
        sur ces initiatives. <br />
        En aval, notre intervention est directement à l’endroit des PME dans
        l’exécution de nos projet et programme ou en étant le bras opérationnel
        de nos partenaires institutionnel à travers des diagnostics, de la
        réflexion stratégique, de la formation, du coaching de dirigeants et
        pouvant aller jusqu’à la recherche de financement. <br />
        Sur la thématique de l’insertion ou de la reconversion, nous renforçons
        la capacité des jeunes à travers nos programmes visant à développer
        leurs soft skills et structurer leurs compétences de gestion et les
        accompagnons à décrocher leur premier emploi. <br />
        Parce que nous sommes orientés résultat, nous ne nous limitons pas qu’à
        vous conseiller ! Les conseils, c’est bien, mais les résultats concrets,
        c’est mieux !
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card card-aspere">
        <h5 class="card-title text-center fw-bold mt-3 coleur1">
          Notre vision
        </h5>
        <div class="card-body">
          <p class="card-text">
            Etre le référent en Afrique de la révélation de champions nationaux
            et régionaux!
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card card-aspere">
        <h5 class="card-title text-center fw-bold mt-3 coleur2">
          Notre mission
        </h5>
        <div class="card-body">
          <p class="card-text">
            Accompagner la création et la réussite des PME africaine,
            l’insertion et la reconversion des jeunes.
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card card-aspere">
        <h5 class="card-title text-center fw-bold mt-3 coleur3">Nos valeurs</h5>
        <div class="card-body">
          <p class="card-text">
            Ecoute : parce qu’une stratégie n’est adapté que si elle répond
            réellement au besoin, nous accordons du prix à l’écoute des besoins
            de nos clients/partenaires. <br />
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card card-aspere">
        <h5 class="card-title text-center fw-bold mt-3 coleur4">
          Notre equipe
        </h5>
        <div class="card-body">
          <p class="card-text">
            Une équipe jeune, avec une bonne compréhension de vos enjeux,
            engagée et expérimentée vous accompagne !
          </p>
        </div>
      </div>
    </div>

    <!-- Les membre de l'equipe -->

    <div class="bod pt-5 pb-5">
      <div class="slide-container swiper">
        <div class="slide-content">
          <div class="card-wrapper swiper-wrapper">
            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay"></span>

                <div class="card-image">
                  <img
                    src="../../../assets/img/bg/about2.jfif"
                    alt=""
                    class="card-img"
                  />
                </div>
              </div>

              <div class="card-content">
                <h2 class="name">Freddy KOUDAHOUA</h2>
                <div class="col-lg-12">
                  <p class="texte">
                    Financier et gestionnaire de projet de formation, Freddy
                    bénéficie d’une longue expérience à l’international en
                    stratégie d’entreprise et développement des affaires dans
                    les domaines des télécoms, des Médias, du textile, des FMCG
                    et du négoce. Plus de 12 années d’expérience à son active,
                    Freddy cumule des rôles….. <br />
                    Passionné par le renforcement des capacités, il a toujours
                    été distingué pour ses aptitudes à faire monter en
                    compétence ses équipes.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fin membre de l'equipe -->
