.texte {
  text-align: justify;
  font-size: 18px;
}
.text-Africa {
  color: orangered;
  font-weight: bold;
}

.bod {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}
.name {
  font-weight: bold;
  color: orangered;
  font-size: 20px;
}

.titre {
  font-weight: bold;
  color: green;
}
.card-aspere {
  background-color: rgb(255, 239, 219);
  height: 120px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.coleur1 {
  color: orangered;
}
.coleur2 {
  color: olive;
}
.coleur3 {
  color: rgb(223, 22, 223);
}
.coleur4 {
  color: rgb(14, 149, 173);
}
