.presentation {
  align-items: center;
}
.description {
  margin-left: 150px;
}
@media (min-width: 992px) {
  .description {
    margin-left: 0;
  }
}
@media (max-width: 750px) {
  .texte {
    margin-top: 30px;
  }
}
.color-texte {
  font-size: xx-large;
  color: white;
  font-weight: bolder;
}
.texte {
  text-align: justify;
  font-size: 20px;
}
.text-Africa {
  color: #ebdc0b;
  font-weight: bold;
}

.bod {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}
.name {
  font-weight: bold;
  color: #ebdc0b;
  font-size: 20px;
}

.titre {
  font-weight: bold;
  color: green;
}

.card-aspere {
  background-color: rgb(255, 250, 219);
  height: 140px;
  margin-top: 15px;
  margin-bottom: 15px;
  .card-title {
    font-size: 24px;
  }
  .card-body {
    .card-text {
      font-size: 16px;
    }
  }
}
.coleur1 {
  color: orangered;
}
.coleur2 {
  color: olive;
}
.coleur3 {
  color: rgb(223, 22, 223);
}
.coleur4 {
  color: rgb(14, 149, 173);
}
