.accueil-titre {
  padding: auto;
  height: 100vh;
  width: 100%;
  background: url("../../../assets/img/bg/carousel1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.texte {
  text-align: justify;
}
.text-africa {
  color: violet;
}
