<!-- image d'accueil -->
<section class="container p-0 mb-5 w-100">
  <div class="accueil-titre w-100 text-center text-align-center">
    <div class="message">
      <h3 class="text-white">
        Vous avez une idée ? Un projet ? Vous avez déjà vos premiers clients ?
      </h3>
      <h5 class="mt-2">
        Faites-vous accompagner par nos experts et garantissez votre réussite !
      </h5>
    </div>
  </div>
</section>
<!-- fin image d'accueil -->
<section id="home" class="container">
  <!-- A propos de nous commmence ici -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <div
            class="position-relative overflow-hidden h-100"
            style="min-height: 400px"
          >
            <img
              class="position-absolute w-100 h-100 pt-5 pe-5"
              src="../../../assets/img/bg/about1.jpg"
              alt=""
              style="object-fit: cover"
            />
            <img
              class="position-absolute top-0 end-0 bg-white ps-2 pb-2"
              src="../../../assets/img/bg/about2.jfif"
              alt=""
              style="width: 200px; height: 200px"
            />
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="h-100">
            <div
              class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3"
            >
              A propos de nous
            </div>
            <h1 class="display-6 mb-5">
              Nous contribuons au developpement de l'Afrique
            </h1>
            <div
              class="bg-light border-bottom border-5 border-primary rounded p-4 mb-4"
            >
              <p class="text-dark mb-2">
                Fondé en 2022 à Abidjan, AIP s'est donner pour objectif la
                formation,le conseil et l'accompagnement pour les levées de
                fonds.
                <br />
                Nous faison de l'acces au financement une realité en Afrique
                pour les TPE et PME
              </p>
              <span class="text-primary">Freddy Koudahoua, Fondateur</span>
            </div>
            <p class="mb-5 justify-content-center">
              Nous sommes mieux définis comme des "entrepreneurs investissant
              dans des entrepreneurs". Nous pensons qu'une transformation
              durable nécessite une approche entrepreneuriale par le déploiement
              de solutions évolutives et innovantes. Nous entretenons une
              empreinte continentale consacrée à l'identification, à
              l'habilitation et au soutien des entrepreneurs et des acteurs du
              secteur privé qui ont le potentiel de dépasser leurs objectifs.
            </p>
            <a class="btn btn-outline-primary py-2.9 px-3" href="">
              Savoir plus de nous
            </a>
            <a class="btn btn-outline-primary py-2 px-3" href="">
              Contactez nous
              <div
                class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-1"
              >
                <i class="fa fa-arrow-right fa-1x"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- fin A propos de nous -->

  <!-- Nos offres commonce ici -->
  <div class="container-xxl bg-light my-5 py-5">
    <div class="container py-5">
      <div
        class="text-center mx-auto mb-5 wow fadeInUp"
        data-wow-delay="0.1s"
        style="max-width: 500px"
      >
        <h1 class="display-6 mb-5">Nos differents offres</h1>
      </div>
      <div class="row g-4 justify-content-center">
        <div class="col-lg-3 col-md-6 wow" data-wow-delay="0.1s">
          <div
            class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-70 border-bottom"
          >
            <div class="text-center p-4 pt-0">
              <div
                class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4"
              >
                <small>Conseil</small>
              </div>
              <p class="text-decoration-line-through">
                L’audit financier consiste à donner une opinion sur
                l’information financière
              </p>
            </div>
            <div class="position-relative mt-auto">
              <img class="img-fluid" src="img/conseil.jpg" alt="" />
              <div class="causes-overlay">
                <a class="btn btn-outline-primary" href="">
                  En savoir plus
                  <div
                    class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2"
                  >
                    <i class="fa fa-arrow-right"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow" data-wow-delay="0.2s">
          <div
            class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-70 border-bottom"
          >
            <div class="text-center p-4 pt-0">
              <div
                class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4"
              >
                <small>Formation</small>
              </div>
              <p class="text-decoration-line-through">
                L’audit financier consiste à donner une opinion sur
                l’information financière
              </p>
            </div>
            <div class="position-relative mt-auto">
              <img class="img-fluid" src="img/formation.jpg" alt="" />
              <div class="causes-overlay">
                <a class="btn btn-outline-primary" href="">
                  En savoir plus
                  <div
                    class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2"
                  >
                    <i class="fa fa-arrow-right"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow" data-wow-delay="0.3s">
          <div
            class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-70 border-bottom"
          >
            <div class="text-center p-4 pt-0">
              <div
                class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4"
              >
                <small>Financement</small>
              </div>
              <p class="text">
                L’audit financier consiste à donner une opinion sur
                l’information financière
              </p>
            </div>
            <div class="position-relative mt-auto">
              <img class="img-fluid" src="img/finance.jpg" alt="" />
              <div class="causes-overlay">
                <a class="btn btn-outline-primary" href="">
                  En savoir plus
                  <div
                    class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2"
                  >
                    <i class="fa fa-arrow-right"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- fin de Nos offres -->

  <!-- Team Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div
        class="text-center mx-auto mb-5 wow fadeInUp"
        data-wow-delay="0.1s"
        style="max-width: 500px"
      >
        <div
          class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3"
        >
          Team Members
        </div>
        <h1 class="display-6 mb-5">Let's Meet With Our Ordinary Soldiers</h1>
      </div>
      <div class="row g-4">
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-item position-relative rounded overflow-hidden">
            <div class="overflow-hidden">
              <img class="img-fluid" src="img/team-1.jpg" alt="" />
            </div>
            <div class="team-text bg-light text-center p-4">
              <h5>Full Name</h5>
              <p class="text-primary">Designation</p>
              <div class="team-social text-center">
                <a class="btn btn-square" href=""
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-square" href=""
                  ><i class="fab fa-twitter"></i
                ></a>
                <a class="btn btn-square" href=""
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="team-item position-relative rounded overflow-hidden">
            <div class="overflow-hidden">
              <img class="img-fluid" src="img/team-2.jpg" alt="" />
            </div>
            <div class="team-text bg-light text-center p-4">
              <h5>Full Name</h5>
              <p class="text-primary">Designation</p>
              <div class="team-social text-center">
                <a class="btn btn-square" href=""
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-square" href=""
                  ><i class="fab fa-twitter"></i
                ></a>
                <a class="btn btn-square" href=""
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="team-item position-relative rounded overflow-hidden">
            <div class="overflow-hidden">
              <img class="img-fluid" src="img/team-3.jpg" alt="" />
            </div>
            <div class="team-text bg-light text-center p-4">
              <h5>Full Name</h5>
              <p class="text-primary">Designation</p>
              <div class="team-social text-center">
                <a class="btn btn-square" href=""
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-square" href=""
                  ><i class="fab fa-twitter"></i
                ></a>
                <a class="btn btn-square" href=""
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
          <div class="team-item position-relative rounded overflow-hidden">
            <div class="overflow-hidden">
              <img class="img-fluid" src="img/team-4.jpg" alt="" />
            </div>
            <div class="team-text bg-light text-center p-4">
              <h5>Full Name</h5>
              <p class="text-primary">Designation</p>
              <div class="team-social text-center">
                <a class="btn btn-square" href=""
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-square" href=""
                  ><i class="fab fa-twitter"></i
                ></a>
                <a class="btn btn-square" href=""
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
