<!-- image d'accueil -->
<section class="container p-0 mb-5 w-100">
  <div
    class="accueil-titre w-100 d-flex align-items-center justify-content-center"
  >
    <div class="message text-center">
      <h2 class="text-white">
        <a
          href=""
          class="typewrite text-white text-decoration-none"
          data-period="2000"
          data-type='[ "Vous avez une idée ?", "Vous avez un projet?", "Vous avez déjà vos premiers clients ?" ]'
        >
          <span class="wrap"></span>
        </a>
      </h2>
      <h4 class="mt-3 text-white">
        Faites-vous accompagner par nos experts et garantissez votre réussite !
      </h4>
      <h6 class="mt-3 text-white">
        <span class="text-africa">AFRICA INTEGRATION PARTNER</span> , le
        partenaire de votre croissance !
      </h6>

      <a class="btn btn-primary mt-5" href="#services">
        <h5>Découvrez nos services</h5>
      </a>
    </div>
  </div>
</section>
<!-- fin image d'accueil -->
<section id="home" class="container">
  <!-- A propos de nous commmence ici -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <div
            class="position-relative overflow-hidden h-100"
            style="min-height: 400px"
          >
            <img
              class="position-absolute w-100 h-100 pt-5 pe-5"
              src="../../../assets/img/bg/about1.jpg"
              alt=""
              style="object-fit: cover"
            />
            <img
              class="position-absolute top-0 end-0 bg-white ps-2 pb-2"
              src="../../../assets/img/bg/about2.jfif"
              alt=""
              style="width: 200px; height: 200px"
            />
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="h-100">
            <div
              class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3"
            >
              A propos de nous
            </div>
            <h1 class="display-6 mb-5">
              Nous contribuons au developpement de l'Afrique
            </h1>
            <div
              class="bg-light border-bottom border-5 border-primary rounded p-4 mb-4"
            >
              <p class="text-dark mb-2 texte">
                Fondé en 2022 à Abidjan, AIP s'est donner pour objectif la
                formation,le conseil et l'accompagnement pour les levées de
                fonds. Nous faison de l'acces au financement une realité en
                Afrique pour les TPE et PME
              </p>
              <span class="text-primary">Freddy Koudahoua, Fondateur</span>
            </div>
            <p class="mb-5 texte">
              <span>AFRICA INTEGRATION PARTNER</span> est un cabinet spécialisé
              dans l’accompagnement des PME et des entrepreneurs avec des
              expertises allant de la conception du projet à la recherche de
              financement en passant par le renforcement des capacités du
              dirigeant.
            </p>
            <a class="btn btn-outline-primary py-2 px-3" href="">
              En savoir plus de nous
              <div
                class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-1"
              >
                <i class="fa fa-arrow-right fa-1x"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- fin A propos de nous -->

  <!--  -->
  <div class="container-xxl py-5">
    <div class="container">
      <div
        class="text-center mx-auto mb-5 wow fadeInUp"
        data-wow-delay="0.1s"
        style="max-width: 500px"
      ></div>
      <div class="row g-4 justify-content-center">
        <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
            <img
              class="img-fluid mb-4"
              src="../../../assets/img/bg/icon1.jpg"
              height="200px"
              width="200px"
              alt=""
            />
            <h5 class="mb-3">
              Développer le leadership des entrepreneurs, les outiller et les
              assister
            </h5>
            <p class="mb-4 texte">
              Diagnostic, Stratégie, Refonte et développement, Formation, Suivi
              et accompagnement
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
            <img
              class="img-fluid mb-4"
              src="../../../assets/img/bg/icon2.jpg"
              height="250px"
              width="250px"
              alt=""
            />
            <h5 class="mb-3">
              Présent en côte d’ivoire et dans la sous-région ouest africaine,
            </h5>
            <p class="mb-4 texte">
              Notre force réside dans l’expertise, l’état d’esprit et les
              valeurs éthiques de nos équipes et notre approche du conseil très
              opérationnel et pragmatique! En plus de vous conseiller, nous vous
              accompagnons dans l’exécution et cela fait toute la différence.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Service End -->

  <!-- Nos offres commonce ici -->
  <section id="services">
    <div class="container-xxl bg-light my-5 py-5">
      <div class="container py-5">
        <div
          class="text-center mx-auto mb-5 wow fadeInUp"
          data-wow-delay="0.1s"
          style="max-width: 500px"
        >
          <h1 class="display-6 mb-5">Nos differents offres</h1>
        </div>
        <div class="row g-4 justify-content-center">
          <div class="col-lg-3 col-md-6 wow" data-wow-delay="0.1s">
            <div
              class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-70 border-bottom"
            >
              <div class="text-center p-4 pt-0">
                <div
                  class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4"
                >
                  <small>Conseil</small>
                </div>
                <p class="texte">
                  Nos thématiques de conseils couvrent tous les métiers pouvant
                  ainsi aller de votre réflexion stratégique jusqu’au
                  financement en passant par la sécurisation juridique et fiscal
                  de votre business.
                </p>
              </div>
              <div class="position-relative mt-auto">
                <img
                  class="img-fluid"
                  src="../../../assets/img/bg/conseil.jpg"
                  alt=""
                />
                <div class="causes-overlay">
                  <a class="btn btn-outline-primary" href="">
                    En savoir plus
                    <div
                      class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2"
                    >
                      <i class="fa fa-arrow-right"></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow" data-wow-delay="0.2s">
            <div
              class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-70 border-bottom"
            >
              <div class="text-center p-4 pt-0">
                <div
                  class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4"
                >
                  <small>Formation</small>
                </div>
                <p class="texte">
                  Nos experts vous accompagnent dans la formation de vos équipes
                  en fonction de vos problématiques et enjeux business.
                </p>
              </div>
              <div class="position-relative mt-auto">
                <img
                  class="img-fluid"
                  src="../../../assets/img/bg/formation.jpg"
                  alt=""
                />
                <div class="causes-overlay">
                  <a class="btn btn-outline-primary" href="">
                    En savoir plus
                    <div
                      class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2"
                    >
                      <i class="fa fa-arrow-right"></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow" data-wow-delay="0.3s">
            <div
              class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-70 border-bottom"
            >
              <div class="text-center p-4 pt-0">
                <div
                  class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4"
                >
                  <small>Financement</small>
                </div>
                <p class="texte">
                  Nous vous accompagnons dans vos choix d’investissement et vous
                  accompagnons dans la demande de financement.
                </p>
              </div>
              <div class="position-relative mt-auto">
                <img
                  class="img-fluid"
                  src="../../../assets/img/bg/finance.jpg"
                  alt=""
                />
                <div class="causes-overlay">
                  <a class="btn btn-outline-primary" href="">
                    En savoir plus
                    <div
                      class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2"
                    >
                      <i class="fa fa-arrow-right"></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- fin de Nos offres -->
  <div class="container">
    <h3 class="text-center">Nous sommes actuellement présent</h3>
    <div class="position-relative rounded overflow-hidden h-100">
      <iframe
        src="https://www.google.com/maps/d/u/0/embed?mid=1Pp6KYtG23PZT_T7o4Dha9GuFHGUSYDE&ehbc=2E312F"
        width="100%"
        height="480"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
