<div class="container page-header d-fex justify-content-center">
  <h3 class="text-center">Formations</h3>
</div>
<div class="container mt-4 bg wow fadeInUp" data-wow-delay="0.1s">
  <div class="card">
    <div class="row">
      <div class="col-md-4 img-card">
        <img class="img-fluid" src="assets/img/bg/formation.jpg" alt="" />
      </div>
      <div class="col-md-8">
        <div class="w-100">
          <h6 class="fs-5 mt-4">
            Nos experts vous accompagnent dans la formation de vos équipes en
            fonction de vos problématiques et enjeux business. Parce que
            l’humain est la ressource la plus précieuse de nos industries, nous
            accordons une attention particulière à nos parcours de formation
            pour l’enrichir de savoirs pratiques. Orienté résultat et soucieux
            du bénéfice client, nous accordons du prix à nos parcours de
            formation. Ainsi :
          </h6>
          <div class="container w-65">
            <div class="maker d-flex mb-2">
              <span class="material-symbols-outlined mx-4 fw-bold">
                check
              </span>
              <p>
                Nos experts sont minutieusement choisis pour vous offrir la
                meilleure valeur ajoutée ; au besoin, nous faisons intervenir
                d’autres professionnels pour offrir d’autres perspectives aux
                stagiaires.
              </p>
            </div>
            <div class="maker d-flex mb-2">
              <span class="material-symbols-outlined mx-4 fw-bold">
                check
              </span>
              <p>
                Nos contenus sont mis à jour pour rester dans l’ère du temps
                mais aussi et surtout pour l’adapter à vos enjeux business.
              </p>
            </div>
            <div class="maker d-flex mb-2">
              <span class="material-symbols-outlined mx-4 fw-bold">
                check
              </span>
              <p>
                Une démarche qualitative en s’assurant des attentes des
                stagiaires en début de formation et en faisant le point en fin
                de formation suivi d’une évaluation du formateur et du contenu
                pour une amélioration continue.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-fex justify-content-center bouton mt-4">
    <a class="btn btn-primary" routerLink="/contact">
      Passez a une demande !
    </a>
  </div>
</div>
