.bg {
  background-color: rgb(250, 253, 249);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  align-items: center;
}
.image-service {
  border-radius: 15px;
}
.texte {
  width: 85%;
  margin-bottom: 10px;
  text-align: justify;
}
.material-symbols-outlined {
  color: green;
}
.btn-primary {
  justify-content: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 300px;
}
