.img-card {
  background-color: #f4f3ef;
  border-radius: 6px;
}

.text-center {
  font-size: xx-large;
  color: white;
  font-weight: bolder;
}

.bg {
  background-color: rgb(250, 253, 249);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  align-items: center;
}
.image-service {
  border-radius: 15px;
}
.texte {
  width: 85%;
  margin-bottom: 10px;
  text-align: justify;
}
.material-symbols-outlined {
  color: #0e0ec6;
}
.btn-primary {
  justify-content: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 300px;
}
.btn-primary {
  background-color: #0e0ec6;
  color: #ebdc0b;
  font-size: 20px;
}
.bouton {
  margin: O auto;
  text-align: center;
  color: #ebdc0b !important;
  :hover {
    color: dark;
    cursor: pointer;
  }
}
.w-100 {
  font-size: 20px;
}
@media (max-width: 720px) {
  .w-100 {
    margin-top: 30px;
    font-size: 16px;
  }
}
