<!-- Navbar Start -->
<div class="container fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
  <div
    *ngIf="hidDen"
    class="top-bar text-white-50 row gx-0 align-items-center d-none d-lg-flex"
  >
    <div class="col-lg-6 px-5 text-start">
      <small
        ><i class="fa fa-map-marker-alt me-2"></i>Phare Cowerking, Abidjan, Cote
        d'ivoire</small
      >
      <small class="ms-4"
        ><i class="fa fa-envelope me-2"></i>info.groups@aip.com</small
      >
    </div>
    <div class="col-lg-6 px-5 text-end">
      <small>Retrouvez nous:</small>
      <a class="text-white-50 ms-3" href=""
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a class="text-white-50 ms-3" href=""><i class="fab fa-twitter"></i></a>
      <a class="text-white-50 ms-3" href=""
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a class="text-white-50 ms-3" href=""><i class="fab fa-instagram"></i></a>
    </div>
  </div>

  <nav
    class="navbar navbar-expand-lg navbar-dark py-lg-0 px-lg-5 wow fadeIn"
    data-wow-delay="0.1s"
  >
    <a href="index.html" class="navbar-brand ms-4 ms-lg-0">
      <img src="../../../assets/img/logo/aip_logo.svg" alt="" srcset="" />
    </a>
    <button
      type="button"
      class="navbar-toggler me-4"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0">
        <a class="nav-item nav-link active" href="/home">ACCUEIL</a>
        <a href="" class="nav-item nav-link">NOUS SOMMES</a>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
            >NOS SOLUTIONS</a
          >
          <div class="dropdown-menu m-0">
            <a href="service.html" class="dropdown-item">Conseil</a>
            <a href="donate.html" class="dropdown-item">Formation</a>
            <a href="team.html" class="dropdown-item"
              >Recherche de financement</a
            >
          </div>
        </div>
        <a href="about.html" class="nav-item nav-link">STORIES</a>
      </div>
      <div class="d-none d-lg-flex ms-2">
        <a class="btn btn-outline-primary py-2 px-3" href="/contact">
          Contactez nous
          <div
            class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2"
          >
            <i class="fa fa-arrow-right"></i>
          </div>
        </a>
      </div>
    </div>
  </nav>
</div>
<!-- Navbar End -->
